meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
link(rel="shortcut icon" type="image/x-icon" href="./assets/img/meta/favpark_fabicon.b2b1136f.jpg")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="format-detection" content="telephone=no")
//- Primary Meta Tags
title #{page.title}
meta(name="title" content=page.title)
meta(name="description" content=page.description)
//- Open Graph / Facebook
meta(property="og:site_name" content=page.title)
meta(property="og:type" content="website")
meta(property="og:url" content=urlPath)
meta(property="og:title" content=page.title)
meta(property="og:description" content=page.description)
meta(property="og:locale" content="ja_JP")
meta(property="og:image" content=urlPath+"/assets/img/meta/ogp.png")
//- Twitter
meta(name="twitter:card" content="summary_large_image")
meta(property="twitter:card" content="summary_large_image")
meta(property="twitter:url" content=urlPath)
meta(property="twitter:title" content=content=page.title)
meta(property="twitter:description" content=content=page.description)
meta(property="twitter:image" content=urlPath+"/assets/img/meta/ogp.png")
//- css,js
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
link(rel="stylesheet" href=assetsPath+"css/style.css?"+timestamp)
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="/ssw_adv/include_webcompo_api.js")
//- script(type="module", src="/favpark/_astro/hoisted.e707ad60.js")
