//- mixin
- var pcSize = 768
mixin sourceImg(fileName, extension = 'png', altName = '', type = 'multi', pagePath = '', width = '', height = '', lazy = false)
	- if (type == 'multi')
		picture
			//- source(
			//- 	type='image/avif',
			//- 	media=`(min-width:${pcSize}px)`,
			//- 	srcset=`
			//- 		${imgPath}${pagePath}${fileName}-pc.avif 1x,
			//- 		${imgPath}${pagePath}${fileName}-pc@2x.avif 2x
			//- 	`
			//- 	)
			//- source(
			//- 	type='image/avif',
			//- 	media=`(max-width:${pcSize - 1}px)`,
			//- 	srcset=`
			//- 		${imgPath}${pagePath}${fileName}-sp.avif 1x,
			//- 		${imgPath}${pagePath}${fileName}-sp@2x.avif 2x
			//- 	`
			//- )
			source(
				type='image/webp',
				media=`(min-width:${pcSize}px)`,
				srcset=`
					${imgPath}${pagePath}${fileName}-pc.webp 1x,
					${imgPath}${pagePath}${fileName}-pc@2x.webp 2x
				`
				)
			source(
				type='image/webp',
				media=`(max-width:${pcSize - 1}px)`,
				srcset=`
					${imgPath}${pagePath}${fileName}-sp.webp 1x,
					${imgPath}${pagePath}${fileName}-sp@2x.webp 2x
				`
			)
			source(
				media=`(min-width:${pcSize}px)`,
				srcset=`
					${imgPath}${pagePath}${fileName}-pc.${extension} 1x,
					${imgPath}${pagePath}${fileName}-pc@2x.${extension} 2x
				`
			)
			source(
				media=`(max-width:${pcSize - 1}px)`,
				srcset=`
					${imgPath}${pagePath}${fileName}-sp.${extension} 1x,
					${imgPath}${pagePath}${fileName}-sp@2x.${extension} 2x
						`
			)
			- if (lazy)
				img&attributes(attributes)(src=`${imgPath}${pagePath}${fileName}-pc.${extension}`, alt=altName, width=width, height=height, loading='lazy', fetchpriority='low')
			- else
				img&attributes(attributes)(src=`${imgPath}${pagePath}${fileName}-pc.${extension}`, alt=altName, width=width, height=height, fetchpriority='high')
	- else if (type == 'simple')
		picture
			//- source(
			//- 	type='image/avif',
			//- 	media=`(min-width:${pcSize}px)`,
			//- 	srcset=`
			//- 		${imgPath}${pagePath}${fileName}-pc.avif 1x,
			//- 		${imgPath}${pagePath}${fileName}-pc@2x.avif 2x
			//- 	`
			//- 	)
			//- source(
			//- 	type='image/avif',
			//- 	media=`(max-width:${pcSize - 1}px)`,
			//- 	srcset=`
			//- 		${imgPath}${pagePath}${fileName}-sp.avif 1x,
			//- 		${imgPath}${pagePath}${fileName}-sp@2x.avif 2x
			//- 	`
			//- )
			source(
				type='image/webp',
				media=`(min-width:${pcSize}px)`,
				srcset=`
					${imgPath}${pagePath}${fileName}-pc.webp
				`
				)
			source(
				type='image/webp',
				media=`(max-width:${pcSize - 1}px)`,
				srcset=`
					${imgPath}${pagePath}${fileName}-sp.webp
				`
			)
			source(
				media=`(min-width:${pcSize}px)`,
				srcset=`
					${imgPath}${pagePath}${fileName}-pc.${extension},
				`
			)
			source(
				media=`(max-width:${pcSize - 1}px)`,
				srcset=`
					${imgPath}${pagePath}${fileName}-sp.${extension}
						`
			)
			- if (lazy)
				img&attributes(attributes)(src=`${imgPath}${pagePath}${fileName}-pc.${extension}`, alt=altName, width=width, height=height, loading='lazy', fetchpriority='low')
			- else
				img&attributes(attributes)(src=`${imgPath}${pagePath}${fileName}-pc.${extension}`, alt=altName, width=width, height=height, fetchpriority='high')
	- else
		picture
			//- source(
			//- 	type='image/avif',
			//- 	srcset=`
			//- 		${imgPath}${pagePath}${fileName}.avif
			//- 	`
			//- )
			source(
				type='image/webp',
				srcset=`
					${imgPath}${pagePath}${fileName}.webp
				`
			)
			- if (lazy)
				img&attributes(attributes)(
					src=`${imgPath}${pagePath}${fileName}.${extension}`,
					alt=altName,
					width=width,
					height=height,
					loading='lazy',
					fetchpriority='low'
				)
			- else
				img&attributes(attributes)(
					src=`${imgPath}${pagePath}${fileName}.${extension}`,
					alt=altName,
					width=width,
					height=height,
					fetchpriority='high'
				)
